In [1]:
import pandas as pd
import numpy as np

#### carga de archivo csv

In [2]:
# Lee el archivo CSV
df_NYC_air_quality = pd.read_csv('NYC_air_quality_raw.csv')

In [3]:
df_NYC_air_quality

,indicator_id,name,measure,geo_type_name,geo_join_id,data_value,geo_place_name,measure_info,time_period,message,start_date,unique_id
0,646,Outdoor Air Toxics - Benzene,Annual average concentration,CD,203.0,1.4,Morrisania and Crotona (CD3),Âµg/m3,2011,NaN,2011-01-01T00:00:00.000,227582
1,646,Outdoor Air Toxics - Benzene,Annual average concentration,CD,303.0,1.4,Bedford Stuyvesant (CD3),Âµg/m3,2011,NaN,2011-01-01T00:00:00.000,227594
2,646,Outdoor Air Toxics - Benzene,Annual average concentration,CD,503.0,1.1,Tottenville and Great Kills (CD3),Âµg/m3,2011,NaN,2011-01-01T00:00:00.000,227626
3,375,Nitrogen dioxide (NO2),Mean,UHF34,306308.0,32.9,Chelsea-Village,ppb,Annual Average 2012,NaN,2011-12-01T00:00:00.000,172709
4,375,Nitrogen dioxide (NO2),Mean,UHF34,203.0,22.9,Bedford Stuyvesant - Crown Heights,ppb,Annual Average 2012,NaN,2011-12-01T00:00:00.000,172687
...,...,...,...,...,...,...,...,...,...,...,...,...
18020,365,Fine particles (PM 2.5),Mean,CD,409.0,9.7,Kew Gardens and Woodhaven (CD9),mcg/m3,Annual Average 2011,NaN,2010-12-01T00:00:00.000,170332
18021,365,Fine particles (PM 2.5),Mean,CD,411.0,6.0,Bayside and Little Neck (CD11),mcg/m3,Annual Average 2020,NaN,2020-01-01T00:00:00.000,669964
18022,365,Fine particles (PM 2.5),Mean,CD,209.0,9.5,Parkchester and Soundview (CD9),mcg/m3,Annual Average 2012,NaN,2011-12-01T00:00:00.000,170361
18023,365,Fine particles (PM 2.5),Mean,CD,209.0,7.1,Parkchester and Soundview (CD9),mcg/m3,Summer 2022,NaN,2022-06-01T00:00:00.000,823179
18024,375,Nitrogen dioxide (NO2),Mean,CD,409.0,10.6,Kew Gardens and Woodhaven (CD9),ppb,Summer 2022,NaN,2022-06-01T00:00:00.000,826375

##### se procede a leer la informacion del DAtaFrames, con la finalidad de encontrar valores nulos y/o faltantes, a demas se saber con que tipo de datos estamos tratando

In [4]:
# cuenta el total de filas dentro de DataFrame_NYC_air_quality
total_filas = df_NYC_air_quality.shape[0]
print("La cantidad total de filas en el df_NYC_air_quality es:", total_filas)

# Obtiene información sobre el DataFrame_victimas
print(df_NYC_air_quality.info())

La cantidad total de filas en el df_NYC_air_quality es: 18025
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   indicator_id    18025 non-null  int64
 1   name            18025 non-null  object
 2   measure         18025 non-null  object
 3   geo_type_name   18025 non-null  object
 4   geo_join_id     18016 non-null  float64
 5   data_value      18025 non-null  float64
 6   geo_place_name  18016 non-null  object
 7   measure_info    18025 non-null  object
 8   time_period     18025 non-null  object
 9   message         0 non-null      float64
 10  start_date      18025 non-null  object
 11  unique_id       18025 non-null  int64
dtypes: float64(3), int64(2), object(7)
memory usage: 1.7+ MB
None

#### vemos el contenido dentro de la columna 'geo_place_name' con la finalidad de poder crear un diccionaro para poder normalizar los 'Borough'

In [5]:
# Listar los elementos únicos de la columna 'geo_place_name'
lugares_unicos = df_NYC_air_quality['geo_place_name'].unique()

# Mostrar los lugares únicos
for lugar in lugares_unicos:
    print(lugar)

Morrisania and Crotona (CD3)
Bedford Stuyvesant (CD3)
Tottenville and Great Kills (CD3)
Chelsea-Village
Bedford Stuyvesant - Crown Heights
Flushing - Clearview
Fordham - Bronx Pk
Pelham - Throgs Neck
East Harlem
East New York
Upper East Side-Gramercy
South Beach - Tottenville
Bayside - Little Neck
Flushing and Whitestone (CD7)
Flatbush and Midwood (CD14)
Sunset Park
Bayside Little Neck-Fresh Meadows
Southeast Queens
Bensonhurst - Bay Ridge
Union Square-Lower Manhattan
South Ozone Park and Howard Beach (CD10)
Jamaica and Hollis (CD12)
Throgs Neck and Co-op City (CD10)
Borough Park (CD12)
Williamsburg - Bushwick
Ridgewood - Forest Hills
Willowbrook
Hillcrest and Fresh Meadows (CD8)
Rego Park and Forest Hills (CD6)
Clinton and Chelsea (CD4)
Stuyvesant Town and Turtle Bay (CD6)
Riverdale and Fieldston (CD8)
South Beach and Willowbrook (CD2)
Financial District (CD1)
Woodside and Sunnyside (CD2)
Greenpoint and Williamsburg (CD1)
St. George and Stapleton (CD1)
Fort Greene and Brooklyn Heights (CD2)
Mott Haven and Melrose (CD1)
Upper West Side
Hunts Point and Longwood (CD2)
Long Island City and Astoria (CD1)
Coney Island - Sheepshead Bay
Borough Park
Manhattan
High Bridge - Morrisania
Union Square - Lower East Side
Greenwich Village and Soho (CD2)
Kingsbridge - Riverdale
Northeast Bronx
Greenpoint
West Queens
Jackson Heights (CD3)
Flatlands and Canarsie (CD18)
East Flatbush (CD17)
Central Harlem - Morningside Heights
Downtown - Heights - Slope
Southwest Queens
Washington Heights
Upper West Side (CD7)
Rockaway and Broad Channel (CD14)
Kingsbridge Heights and Bedford (CD7)
Staten Island
Sunset Park (CD7)
Williamsbridge and Baychester (CD12)
Washington Heights and Inwood (CD12)
Upper East Side (CD8)
Long Island City - Astoria
Port Richmond
Bay Ridge and Dyker Heights (CD10)
Central Harlem (CD10)
New York City
Jamaica
Canarsie - Flatlands
Coney Island (CD13)
Sheepshead Bay (CD15)
Queens
Queens Village (CD13)
Rockaways
Lower Manhattan
Crown Heights and Prospect Heights (CD8)
Belmont and East Tremont (CD6)
Park Slope and Carroll Gardens (CD6)
Crotona -Tremont
Upper East Side
Ridgewood and Maspeth (CD5)
Midtown (CD5)
Fresh Meadows
East Flatbush - Flatbush
Fordham and University Heights (CD5)
East New York and Starrett City (CD5)
Chelsea - Clinton
Bayside and Little Neck (CD11)
East Harlem (CD11)
Morningside Heights and Hamilton Heights (CD9)
Bensonhurst (CD11)
Morris Park and Bronxdale (CD11)
Kew Gardens and Woodhaven (CD9)
Stapleton - St. George
South Crown Heights and Lefferts Gardens (CD9)
Parkchester and Soundview (CD9)
Brownsville (CD16)
Gramercy Park - Murray Hill
Greenwich Village - SoHo
Hunts Point - Mott Haven
Bronx
Elmhurst and Corona (CD4)
Highbridge and Concourse (CD4)
Bushwick (CD4)
Brooklyn
Lower East Side and Chinatown (CD3)
South Bronx
Southern SI
Northern SI
nan

#### exportamos todo el contenido de 'geo_place_name' a un csv

In [6]:
# Crear un DataFrame con los lugares únicos
df_lugares_unicos = pd.DataFrame(lugares_unicos, columns=['geo_place_name'])

# Exportar el DataFrame de lugares únicos a un archivo CSV
df_lugares_unicos.to_csv('lugares_unicos.csv', index=False)

print("El archivo 'lugares_unicos.csv' se ha creado exitosamente.")

El archivo 'lugares_unicos.csv' se ha creado exitosamente.

#### se crea un diccionaro con los lugares_unicos para poder asociarlos a cada 'Borough'

In [7]:
# Mapeo de geo_place_name a borough
mapeo_lugares_a_borough = {
    'Morrisania and Crotona (CD3)': 'Bronx',
    'Bedford Stuyvesant (CD3)': 'Brooklyn',
    'Tottenville and Great Kills (CD3)': 'Staten Island',
    'Chelsea-Village': 'Manhattan',
    'Bedford Stuyvesant - Crown Heights': 'Brooklyn',
    'Flushing - Clearview': 'Queens',
    'Fordham - Bronx Pk': 'Bronx',
    'Pelham - Throgs Neck': 'Bronx',
    'East Harlem': 'Manhattan',
    'East New York': 'Brooklyn',
    'Upper East Side-Gramercy': 'Manhattan',
    'South Beach - Tottenville': 'Staten Island',
    'Bayside - Little Neck': 'Queens',
    'Flushing and Whitestone (CD7)': 'Queens',
    'Flatbush and Midwood (CD14)': 'Brooklyn',
    'Sunset Park': 'Brooklyn',
    'Bayside Little Neck-Fresh Meadows': 'Queens',
    'Southeast Queens': 'Queens',
    'Bensonhurst - Bay Ridge': 'Brooklyn',
    'Union Square-Lower Manhattan': 'Manhattan',
    'South Ozone Park and Howard Beach (CD10)': 'Queens',
    'Jamaica and Hollis (CD12)': 'Queens',
    'Throgs Neck and Co-op City (CD10)': 'Bronx',
    'Borough Park (CD12)': 'Brooklyn',
    'Williamsburg - Bushwick': 'Brooklyn',
    'Ridgewood - Forest Hills': 'Queens',
    'Willowbrook': 'Staten Island',
    'Hillcrest and Fresh Meadows (CD8)': 'Queens',
    'Rego Park and Forest Hills (CD6)': 'Queens',
    'Clinton and Chelsea (CD4)': 'Manhattan',
    'Stuyvesant Town and Turtle Bay (CD6)': 'Manhattan',
    'Riverdale and Fieldston (CD8)': 'Bronx',
    'South Beach and Willowbrook (CD2)': 'Staten Island',
    'Financial District (CD1)': 'Manhattan',
    'Woodside and Sunnyside (CD2)': 'Queens',
    'Greenpoint and Williamsburg (CD1)': 'Brooklyn',
    'St. George and Stapleton (CD1)': 'Staten Island',
    'Fort Greene and Brooklyn Heights (CD2)': 'Brooklyn',
    'Mott Haven and Melrose (CD1)': 'Bronx',
    'Upper West Side': 'Manhattan',
    'Hunts Point and Longwood (CD2)': 'Bronx',
    'Long Island City and Astoria (CD1)': 'Queens',
    'Coney Island - Sheepshead Bay': 'Brooklyn',
    'Manhattan': 'Manhattan',
    'High Bridge - Morrisania': 'Bronx',
    'Union Square - Lower East Side': 'Manhattan',
    'Greenwich Village and Soho (CD2)': 'Manhattan',
    'Kingsbridge - Riverdale': 'Bronx',
    'Northeast Bronx': 'Bronx',
    'West Queens': 'Queens',
    'Jackson Heights (CD3)': 'Queens',
    'Flatlands and Canarsie (CD18)': 'Brooklyn',
    'East Flatbush (CD17)': 'Brooklyn',
    'Central Harlem - Morningside Heights': 'Manhattan',
    'Downtown - Heights - Slope': 'Brooklyn',
    'Southwest Queens': 'Queens',
    'Washington Heights': 'Manhattan',
    'Upper West Side (CD7)': 'Manhattan',
    'Rockaway and Broad Channel (CD14)': 'Queens',
    'Kingsbridge Heights and Bedford (CD7)': 'Bronx',
    'Sunset Park (CD7)': 'Brooklyn',
    'Williamsbridge and Baychester (CD12)': 'Bronx',
    'Washington Heights and Inwood (CD12)': 'Manhattan',
    'Upper East Side (CD8)': 'Manhattan',
    'Long Island City - Astoria': 'Queens',
    'Port Richmond': 'Staten Island',
    'Bay Ridge and Dyker Heights (CD10)': 'Brooklyn',
    'Central Harlem (CD10)': 'Manhattan',
    'New York City': 'Manhattan',
    'Jamaica': 'Queens',
    'Canarsie - Flatlands': 'Brooklyn',
    'Coney Island (CD13)': 'Brooklyn',
    'Sheepshead Bay (CD15)': 'Brooklyn',
    'Queens': 'Queens',
    'Queens Village (CD13)': 'Queens',
    'Rockaways': 'Queens',
    'Lower Manhattan': 'Manhattan',
    'Crown Heights and Prospect Heights (CD8)': 'Brooklyn',
    'Belmont and East Tremont (CD6)': 'Bronx',
    'Park Slope and Carroll Gardens (CD6)': 'Brooklyn',
    'Crotona -Tremont': 'Bronx',
    'Upper East Side': 'Manhattan',
    'Ridgewood and Maspeth (CD5)': 'Queens',
    'Midtown (CD5)': 'Manhattan',
    'Fresh Meadows': 'Queens',
    'East Flatbush - Flatbush': 'Brooklyn',
    'Fordham and University Heights (CD5)': 'Bronx',
    'East New York and Starrett City (CD5)': 'Brooklyn',
    'Chelsea - Clinton': 'Manhattan',
    'Bayside and Little Neck (CD11)': 'Queens',
    'East Harlem (CD11)': 'Manhattan',
    'Morningside Heights and Hamilton Heights (CD9)': 'Manhattan',
    'Bensonhurst (CD11)': 'Brooklyn',
    'Morris Park and Bronxdale (CD11)': 'Bronx',
    'Kew Gardens and Woodhaven (CD9)': 'Queens',
    'Stapleton - St. George': 'Staten Island',
    'South Crown Heights and Lefferts Gardens (CD9)': 'Brooklyn',
    'Parkchester and Soundview (CD9)': 'Bronx',
    'Brownsville (CD16)': 'Brooklyn',
    'Gramercy Park - Murray Hill': 'Manhattan',
    'Greenwich Village - SoHo': 'Manhattan',
    'Hunts Point - Mott Haven': 'Bronx',
    'Bronx': 'Bronx',
    'Elmhurst and Corona (CD4)': 'Queens',
    'Highbridge and Concourse (CD4)': 'Bronx',
    'Bushwick (CD4)': 'Brooklyn',
    'Brooklyn': 'Brooklyn',
    'Lower East Side and Chinatown (CD3)': 'Manhattan',
    'South Bronx': 'Bronx',
    'Southern SI': 'Staten Island',
    'Northern SI': 'Staten Island'
}


# Agregar nueva columna 'borough' al DataFrame original
df_NYC_air_quality['borough'] = df_NYC_air_quality['geo_place_name'].map(mapeo_lugares_a_borough)

# Verificar el resultado
print(df_NYC_air_quality.head())

   indicator_id                          name                       measure  \
0           646  Outdoor Air Toxics - Benzene  Annual average concentration
1           646  Outdoor Air Toxics - Benzene  Annual average concentration
2           646  Outdoor Air Toxics - Benzene  Annual average concentration
3           375        Nitrogen dioxide (NO2)                          Mean
4           375        Nitrogen dioxide (NO2)                          Mean

  geo_type_name  geo_join_id  data_value                      geo_place_name  \
0            CD        203.0         1.4        Morrisania and Crotona (CD3)
1            CD        303.0         1.4            Bedford Stuyvesant (CD3)
2            CD        503.0         1.1   Tottenville and Great Kills (CD3)
3         UHF34     306308.0        32.9                     Chelsea-Village
4         UHF34        203.0        22.9  Bedford Stuyvesant - Crown Heights

  measure_info          time_period  message               start_date  \
0       Âµg/m3                 2011      NaN  2011-01-01T00:00:00.000
1       Âµg/m3                 2011      NaN  2011-01-01T00:00:00.000
2       Âµg/m3                 2011      NaN  2011-01-01T00:00:00.000
3          ppb  Annual Average 2012      NaN  2011-12-01T00:00:00.000
4          ppb  Annual Average 2012      NaN  2011-12-01T00:00:00.000

   unique_id        borough
0     227582          Bronx
1     227594       Brooklyn
2     227626  Staten Island
3     172709      Manhattan
4     172687       Brooklyn

#### volvemos a ver nuevamente el data frame para verificar si a cada 'geo_place_name' se les asigno bien su respectivo 'Borough'

In [8]:
# Obtiene información sobre el DataFrame_victimas
print(df_NYC_air_quality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   indicator_id    18025 non-null  int64
 1   name            18025 non-null  object
 2   measure         18025 non-null  object
 3   geo_type_name   18025 non-null  object
 4   geo_join_id     18016 non-null  float64
 5   data_value      18025 non-null  float64
 6   geo_place_name  18016 non-null  object
 7   measure_info    18025 non-null  object
 8   time_period     18025 non-null  object
 9   message         0 non-null      float64
 10  start_date      18025 non-null  object
 11  unique_id       18025 non-null  int64
 12  borough         17308 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.8+ MB
None

#### se filtra para saber a que elemento de 'geo_place_name' no se le asigno su 'borough'

In [9]:
# Filtrar el DataFrame para las filas donde 'borough' es nulo
filas_sin_borough = df_NYC_air_quality[df_NYC_air_quality['borough'].isnull()]

# Obtener los elementos únicos de 'geo_place_name' sin 'borough'
lugares_sin_borough_unicos = filas_sin_borough['geo_place_name'].unique()

# Imprimir los elementos únicos sin 'borough'
for lugar in lugares_sin_borough_unicos:
    print(lugar)

Borough Park
Greenpoint
Staten Island
nan

#### asignamos nuevamente a cada  'geo_place_name' su 'borough'

In [10]:
# Mapeo adicional para los lugares identificados
mapeo_lugares_adicional = {
    'Borough Park': 'Brooklyn',
    'Greenpoint': 'Brooklyn',
    'Staten Island': 'Staten Island'
}

# Actualizar el DataFrame para asignar los boroughs correspondientes
df_NYC_air_quality.loc[df_NYC_air_quality['geo_place_name'].isin(mapeo_lugares_adicional.keys()), 'borough'] = df_NYC_air_quality['geo_place_name'].map(mapeo_lugares_adicional)

# Verificar que se hayan actualizado correctamente
print(df_NYC_air_quality[df_NYC_air_quality['geo_place_name'].isin(mapeo_lugares_adicional.keys())][['geo_place_name', 'borough']])

      geo_place_name        borough
155     Borough Park       Brooklyn
163     Borough Park       Brooklyn
188       Greenpoint       Brooklyn
212       Greenpoint       Brooklyn
235    Staten Island  Staten Island
...              ...            ...
17235     Greenpoint       Brooklyn
17414     Greenpoint       Brooklyn
17546     Greenpoint       Brooklyn
17973     Greenpoint       Brooklyn
17977     Greenpoint       Brooklyn

[708 rows x 2 columns]

#### revizamos nuevamente si los 'geo_place_name' tienen asignado su 'borough'

In [11]:
# Obtiene información sobre el DataFrame_victimas
print(df_NYC_air_quality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   indicator_id    18025 non-null  int64
 1   name            18025 non-null  object
 2   measure         18025 non-null  object
 3   geo_type_name   18025 non-null  object
 4   geo_join_id     18016 non-null  float64
 5   data_value      18025 non-null  float64
 6   geo_place_name  18016 non-null  object
 7   measure_info    18025 non-null  object
 8   time_period     18025 non-null  object
 9   message         0 non-null      float64
 10  start_date      18025 non-null  object
 11  unique_id       18025 non-null  int64
 12  borough         18016 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 1.8+ MB
None

In [12]:
# Obtener los elementos únicos de la columna 'measure'
medidas_unicas = df_NYC_air_quality['measure'].unique()

# Imprimir los elementos únicos
for medida in medidas_unicas:
    print(medida)

Annual average concentration
Mean
Million miles
Estimated annual rate (under age 18)
Estimated annual rate
Estimated annual rate (age 30+)
Estimated annual rate (age 18+)
Number per km2

#### se eliminan las columnas que no son necesarias para el estudio del la contaminacion en NYC

In [13]:
# Lista de columnas a eliminar
columnas_a_eliminar = ['indicator_id','measure','geo_type_name','geo_join_id','geo_place_name','time_period','message','unique_id']

# Eliminar las columnas
df_NYC_air_quality = df_NYC_air_quality.drop(columnas_a_eliminar, axis=1)

### eliminamos los valores que no son referencia a la contaminacion producto de los automoviles, como referencia a hospitalizaciones por enfermedades respiratorias y la contaminacion producto de calderas

In [14]:
# Lista de valores a eliminar
valores_a_eliminar = [
    'Asthma emergency department visits due to PM2.5',
    'Cardiac and respiratory deaths due to Ozone',
    'Deaths due to PM2.5',
    'Respiratory hospitalizations due to PM2.5 (age 20+)',
    'Asthma hospitalizations due to Ozone',
    'Asthma emergency departments visits due to Ozone',
    'Cardiovascular hospitalizations due to PM2.5 (age 40+)',
    'Boiler Emissions- Total NOx Emissions',
    'Boiler Emissions- Total PM2.5 Emissions',
    'Boiler Emissions- Total SO2 Emissions',
    'Annual vehicle miles traveled (trucks)',
    'Annual vehicle miles traveled (cars)',
    'Annual vehicle miles traveled'
]

# Eliminar las filas que contienen los valores especificados en la columna 'contaminante'
df_NYC_air_quality = df_NYC_air_quality[~df_NYC_air_quality['name'].isin(valores_a_eliminar)]

### normalizamos la unidadad de medida

In [15]:
# Reemplazar los valores "Âµg/m3" por "mcg/m3" en la columna 'measure_info' tratando la codificación incorrecta
df_NYC_air_quality.loc[:, 'measure_info'] = df_NYC_air_quality['measure_info'].str.replace("Âµg/m3", "mcg/m3", regex=False)

### transformar la columna 'inicio_medicion' en datetime

In [16]:
# Convertir la columna 'start_date' a tipo datetime usando .astype()
df_NYC_air_quality['start_date'] = df_NYC_air_quality['start_date'].astype('datetime64[ns]')


# Verificar el resultado
print(df_NYC_air_quality.info())

<class 'pandas.core.frame.DataFrame'>
Index: 14365 entries, 0 to 18024
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          14365 non-null  object
 1   data_value    14365 non-null  float64
 2   measure_info  14365 non-null  object
 3   start_date    14365 non-null  datetime64[ns]
 4   borough       14365 non-null  object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 673.4+ KB
None

#### ordenamos el dataset en funcion de 'start_date' de manera acendente

In [17]:
# Ordenar el DataFrame en función de 'start_date' en orden ascendente
df_NYC_air_quality = df_NYC_air_quality.sort_values(by='start_date', ascending=True)

# Verificar el resultado
print(df_NYC_air_quality.head())  # Muestra las primeras filas del DataFrame ordenado

                                   name  data_value measure_info start_date  \
6539       Outdoor Air Toxics - Benzene         2.7       mcg/m3 2005-01-01
5051  Outdoor Air Toxics - Formaldehyde         4.0       mcg/m3 2005-01-01
6559  Outdoor Air Toxics - Formaldehyde         3.0       mcg/m3 2005-01-01
5050  Outdoor Air Toxics - Formaldehyde         2.3       mcg/m3 2005-01-01
5025  Outdoor Air Toxics - Formaldehyde         2.7       mcg/m3 2005-01-01

            borough
6539         Queens
5051      Manhattan
6559       Brooklyn
5050  Staten Island
5025         Queens

#### cambiamos el nombre a las columnas 'name', 'start_date', 'borough'

In [18]:
df_NYC_air_quality = df_NYC_air_quality.rename(columns={
    'name': 'contaminante',
    'start_date': 'fecha',
    'borough': 'Barrio'
})

#### crea el archivo parquet y csv

In [19]:
# Guardar el DataFrame en un archivo CSV llamado 'NYC_air_quality_clean.csv' y en un archivo PARQUET 'NYC_air_quality.parquet'
df_NYC_air_quality.to_csv('NYC_air_quality.csv', index=False)
df_NYC_air_quality.to_parquet('NYC_air_quality.parquet', index=False)